In [2]:
import os 
import pandas as pd

In [3]:
os.listdir()

['1.XLSX',
 'clean_shit.ipynb',
 'DDW-C17-0100.XLSX',
 'DDW-C17-0200.XLSX',
 'DDW-C17-0300.XLSX',
 'DDW-C17-0400.XLSX',
 'DDW-C17-0500.XLSX',
 'DDW-C17-0600.XLSX',
 'DDW-C17-0700.XLSX',
 'DDW-C17-0800.XLSX',
 'DDW-C17-0900.XLSX',
 'DDW-C17-1000.XLSX',
 'DDW-C17-1100.XLSX',
 'DDW-C17-1200.XLSX',
 'DDW-C17-1300.XLSX',
 'DDW-C17-1400.XLSX',
 'DDW-C17-1500.XLSX',
 'DDW-C17-1600.XLSX',
 'DDW-C17-1700.XLSX',
 'DDW-C17-1800.XLSX',
 'DDW-C17-1900.XLSX',
 'DDW-C17-2000.XLSX',
 'DDW-C17-2100.XLSX',
 'DDW-C17-2200.XLSX',
 'DDW-C17-2300.XLSX',
 'DDW-C17-2400.XLSX',
 'DDW-C17-2500.XLSX',
 'DDW-C17-2600.XLSX',
 'DDW-C17-2700.XLSX',
 'DDW-C17-2800.XLSX',
 'DDW-C17-2900.XLSX',
 'DDW-C17-3000.XLSX',
 'DDW-C17-3100.XLSX',
 'DDW-C17-3200.XLSX',
 'DDW-C17-3300.XLSX',
 'DDW-C17-3400.XLSX',
 'DDW-C17-3500.XLSX']

In [4]:
temp = pd.read_excel('1.XLSX')

In [9]:
temp1 = temp.iloc[:,:7]

In [11]:
temp1[:10]

,C-17 POPULATION BY BILINGUALISM AND TRILINGUALISM,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,State,State name,Total speakers of languages,NaN,NaN,NaN,NaN
2,Code,NaN,Code,Name,Persons,Males,Females
3,1,2,3,4,5,6,7
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,00,INDIA,001000,ASSAMESE,15311351,7810583,7500768
6,00,INDIA,NaN,NaN,NaN,NaN,NaN
7,00,INDIA,NaN,NaN,NaN,NaN,NaN
8,00,INDIA,NaN,NaN,NaN,NaN,NaN
9,00,INDIA,NaN,NaN,NaN,NaN,NaN

In [6]:
temp.columns = ['State_code','State_name','Code','Language','Person','Male','Female','Code_second','Language_second'
,'Person_second','Male_second','Females_second','Code_third','Language_third','Person_third','Male_third','Female_third']
temp2 = temp.drop([0,1,2,3,4])

In [18]:
temp2[temp2['Language_third']=='ASSAMESE']['Person_third']

784         810
797           7
813      156372
904           7
938           1
          ...
24697        42
24711         2
24744         1
24746       128
24753         2
Name: Person_third, Length: 1155, dtype: object

In [5]:
import numpy as np

In [20]:
liist = []
state = temp2['State_name'].unique()[0]
state_code = temp2['State_code'].unique()[0]
for i in a:
    first = int(temp2[temp2['Language']==i]['Person'])
    second = temp2[temp2['Language_second']==i]['Person_second'].sum()
    third = temp2[temp2['Language_third']==i]['Person_third'].sum()
    liist.append([state,state_code,i,first,second,third])

In [21]:
ok = pd.DataFrame(liist,columns=['state','code','language','first','second','third'])

In [23]:
ok.to_csv('../not-so-ok/India.csv')

In [37]:
x = temp2.iloc[0]['State_name'] + '.csv'

'INDIA.csv'

In [18]:
allstates = os.listdir()

In [20]:
for i in allstates:
    try:
        temp2 = pd.read_excel(i)
        temp2.columns = ['State_code','State_name','Code','Language','Person','Male','Female','Code_second','Language_second'
        ,'Person_second','Male_second','Females_second','Code_third','Language_third','Person_third','Male_third','Female_third']
        temp2 = temp2.drop([0,1,2,3,4])
        liist = []
        state = temp2['State_name'].unique()[0]
        state_code = temp2['State_code'].unique()[0]
        a = list(temp2['Language'].unique())
        a.remove(np.nan)
        for i in a:
            first = int(temp2[temp2['Language']==i]['Person'])
            second = temp2[temp2['Language_second']==i]['Person_second'].sum()
            third = temp2[temp2['Language_third']==i]['Person_third'].sum()
            liist.append([state,state_code,i,first,second,third])
        ok = pd.DataFrame(liist,columns=['state','code','language','first','second','third'])
        x ='../not-so-ok/' + state + '.csv'
        ok.to_csv(x)
    except:
        print(i)

clean_shit.ipynb

In [19]:
allstates

['1.XLSX',
 'clean_shit.ipynb',
 'DDW-C17-0100.XLSX',
 'DDW-C17-0200.XLSX',
 'DDW-C17-0300.XLSX',
 'DDW-C17-0400.XLSX',
 'DDW-C17-0500.XLSX',
 'DDW-C17-0600.XLSX',
 'DDW-C17-0700.XLSX',
 'DDW-C17-0800.XLSX',
 'DDW-C17-0900.XLSX',
 'DDW-C17-1000.XLSX',
 'DDW-C17-1100.XLSX',
 'DDW-C17-1200.XLSX',
 'DDW-C17-1300.XLSX',
 'DDW-C17-1400.XLSX',
 'DDW-C17-1500.XLSX',
 'DDW-C17-1600.XLSX',
 'DDW-C17-1700.XLSX',
 'DDW-C17-1800.XLSX',
 'DDW-C17-1900.XLSX',
 'DDW-C17-2000.XLSX',
 'DDW-C17-2100.XLSX',
 'DDW-C17-2200.XLSX',
 'DDW-C17-2300.XLSX',
 'DDW-C17-2400.XLSX',
 'DDW-C17-2500.XLSX',
 'DDW-C17-2600.XLSX',
 'DDW-C17-2700.XLSX',
 'DDW-C17-2800.XLSX',
 'DDW-C17-2900.XLSX',
 'DDW-C17-3000.XLSX',
 'DDW-C17-3100.XLSX',
 'DDW-C17-3200.XLSX',
 'DDW-C17-3300.XLSX',
 'DDW-C17-3400.XLSX',
 'DDW-C17-3500.XLSX']